/*  ********************************
    table of Contents
    **********************************

    1- Title
    2-Form
    3-Responsive Design(Media Query)

*/

/* 
    ****************************
    1- Title
    ****************************
*/


footer.flex
{
    justify-content: space-between;
    padding-bottom: 1.9rem;
}
footer ul
{
    gap: 1rem;
}
footer ul li a
{
    color: var(--subtitle);
    font-size: 0.9rem;
}
footer ul li a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}
footer p 
{
    color: rgb(113,113,122);
}

/* 
    ****************************
    1- Responsive
    ****************************
*/

@media (max-width:800px)
{
    footer.flex
    {
        flex-direction: column;
        gap: 1.5rem;
    }
}